@import "tailwindcss";

:root {
  --primary: #36013F; 
  --secondary: #F4D35E; 
  --textcolor:#121212;

}





@layer utilities {
  .text-primary {
    color: var(--primary);
  }
  .bg-primary {
    background-color: var(--primary);
  }
  .text-secondary {
    color: var(--secondary);
  }
  .bg-secondary {
    background-color: var(--secondary);
  }
  .text-textcolor {
    color: var(--textcolor);
  }
  .bg-textcolor {
    background-color: var(--textcolor);
  }
}